<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923930251963-tuu32io1k35385tq43tfqbrgt1tmdtuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923930251963-tuu32io1k35385tq43tfqbrgt1tmdtuh</string>
	<key>API_KEY</key>
	<string>AIzaSyB_SYlgNxTGSQDgjxV6ZGQZT5popDQ32ik</string>
	<key>GCM_SENDER_ID</key>
	<string>923930251963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-test-5c30f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-5c30f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923930251963:ios:1979d49ee315e5c03d8f9e</string>
</dict>
</plist>